/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif "Noto Sans TC, Bold";
}

body {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.top {
  width: 100%;
  padding: 0 140px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top img {
  width: 218px;
}

.top a {
  background: #ff5d50 0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 8px 32px;
  text-decoration: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1085px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 218px;
}

.banner .banner-text {
  width: 453px;
}

.banner .banner-text h5 {
  text-align: left;
  font: normal normal bold 18px/26px Noto Sans TC;
  letter-spacing: 0px;
  color: #56c4c5;
  opacity: 1;
  margin-bottom: 8px;
}

.banner .banner-text h1 {
  text-align: left;
  font: normal normal bold 48px/70px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  margin-bottom: 16px;
}

.banner .banner-text p {
  text-align: left;
  font: normal normal normal 20px/29px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
}

.banner img {
  width: 532px;
  height: auto;
}

@media (max-width: 1180px) {
  body {
    background: white;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-position: 50% 392px;
    background-size: 334px 244px;
  }
  .top {
    border-bottom: 2px solid #ffd153;
    opacity: 1;
    margin-bottom: 32px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 60px;
  }
  .banner .banner-img img {
    width: 304px;
    height: 305px;
  }
  .banner .banner-text {
    margin-bottom: 32px;
  }
  .banner .banner-text h5 {
    text-align: left;
    font: normal normal bold 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #56c4c5;
    opacity: 1;
  }
  .banner .banner-text h1 {
    text-align: left;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    color: #221e1f;
    opacity: 1;
  }
  .banner .banner-text p {
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221e1f;
    opacity: 1;
  }
}

.platform {
  max-width: 969px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.platform h1 {
  text-align: center;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  margin-bottom: 48px;
}

.platform .platform-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.platform .platform-card li {
  width: 245px;
}

.platform .platform-card li img {
  width: 90px;
  height: 90px;
}

.platform .platform-card li h3 {
  text-align: center;
  font: normal normal bold 24px/35px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  margin: 24px 0;
}

.platform .platform-card li p {
  text-align: center;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #747474;
  opacity: 1;
}

@media (max-width: 767px) {
  .platform-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .platform-card li {
    margin-bottom: 24px;
  }
}

.char {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.char h1 {
  text-align: center;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  margin-bottom: 16px;
}

.char h3 {
  text-align: center;
  font: normal normal normal 20px/29px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  margin-bottom: 48px;
}

.char .ch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.char .ch li {
  width: 260px;
  height: 388px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  opacity: 1;
}

.char .ch li img {
  width: 260px;
  height: 260px;
}

.char .ch li h5 {
  text-align: center;
  font: normal normal bold 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #56c4c5;
  opacity: 1;
  margin: 16px 0;
}

.char .ch li p {
  text-align: center;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  padding: 0 16px 24px 16px;
}

@media (max-width: 767px) {
  .ch {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ch li {
    width: 100%;
  }
}

.traffic {
  margin: 0 auto;
  max-width: 1039px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.traffic .function-card {
  max-width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.traffic .function-card .function-card-piece {
  width: 230px;
  height: 280px;
  margin-bottom: 28px;
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  opacity: 1;
}

.traffic .function-card .function-card-piece div {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  position: absolute;
  top: 32px;
  left: 32px;
}

.traffic .function-card .function-card-piece img {
  position: absolute;
  top: 50px;
  left: 50px;
}

.traffic .function-card .function-card-piece h5 {
  font: normal normal bold 18px/26px Noto Sans TC;
  position: absolute;
  top: 142px;
  left: 32px;
}

.traffic .function-card .function-card-piece p {
  font: normal normal normal 16px/24px Noto Sans TC;
  position: absolute;
  top: 184px;
  left: 32px;
}

.traffic .function-text {
  max-width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.traffic .function-text h1 {
  text-align: left;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  margin-bottom: 16px;
}

.traffic .function-text p {
  text-align: left;
  font: normal normal normal 18px/26px Noto Sans TC;
  letter-spacing: 0px;
  color: #221e1f;
  opacity: 1;
  margin-bottom: 24px;
}

.traffic .function-text a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 12px 32px;
  border-radius: 27px;
  background-color: #56c4c5;
}

@media (max-width: 767px) {
  .traffic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .function-card {
    margin-bottom: 60px;
  }
  .function-text {
    max-width: 100%;
    margin-bottom: 32px;
    text-align: center;
  }
  .function-card-piece {
    width: 100%;
    margin: 0 auto;
  }
}

.review {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.review h2 {
  font-size: 32px;
  font-family: Noto Sans TC, Bold;
  text-align: center;
  margin-bottom: 104px;
}

.review .review-card {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.review .review-card li {
  width: 352px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  position: relative;
  border-radius: 12px;
}

.review .review-card li .profile {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -56px;
  left: 32px;
  border-radius: 100%;
}

.review .review-card li p {
  font-size: 16px;
  padding: 48px 32px 24px 32px;
  border-bottom: 1px solid #dddddd;
  line-height: 1.5;
}

.review .review-card li h5 {
  font-size: 16px;
  font-family: Noto Sans TC, Bold;
  padding-top: 24px;
  padding-left: 32px;
}

.review .review-card li .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 32px 24px 32px;
}

.review .review-card li .name .job-title {
  font-size: 16px;
  padding: 0;
  text-align: center;
  border-bottom: none;
}

@media (max-width: 767px) {
  .review-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .review-card li {
    margin: 0 auto;
    margin-bottom: 70px;
  }
}

.footer-text {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 503px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding-top: 260px;
  padding-bottom: 100px;
}

.footer-text .container {
  text-align: center;
}

.footer-text .container h2 {
  font-size: 32px;
  font-family: Noto Sans TC;
  margin-bottom: 48px;
}

.footer-text .container a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 12px 32px;
  border-radius: 27px;
  background-color: #56c4c5;
}

@media (max-width: 767px) {
  .footer-text {
    height: 461px;
  }
}

.footer {
  text-align: center;
  background: #f5f5f5;
  padding: 16px 0;
}
/*# sourceMappingURL=all.css.map */